<mat-card class="card">
    <mat-card-content>
       <section class="video">
        <div class="video-title">
            <h1><b>¡Bienvenido a campus russell!</b></h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptatibus id repellendus vitae dolorem sapiente temporibus debitis exercitationem optio praesentium expedita vero provident quae dolorum laborum sequi, quibusdam nesciunt quisquam.
            </p>
            <!-- <h2>¿Que deseas buscar?</h2>
            <p>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-select matInput title="Buscar..." required>
                      <mat-option value="¿Como subir un archivo?" >¿Como subir un archivo?</mat-option>
                      <mat-option value="¿Como compartir enlace de OneDrive?" >¿Como compartir enlace de OneDrive?</mat-option>
                    </mat-select>
                  </mat-form-field>
              </p>
              <br><br>
              <h2>¿Como registrar un curso?</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptatibus id repellendus vitae dolorem sapiente temporibus debitis exercitationem optio praesentium expedita vero provident quae dolorum laborum sequi, quibusdam nesciunt quisquam.
              </p>
              <br>
              <h2>¿Como subir un archivo?</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptatibus id repellendus vitae dolorem sapiente temporibus debitis exercitationem optio praesentium expedita vero provident quae dolorum laborum sequi, quibusdam nesciunt quisquam.
              </p>
              <br>
              <h2>¿Como compartir enlace de OneDrive?</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptatibus id repellendus vitae dolorem sapiente temporibus debitis exercitationem optio praesentium expedita vero provident quae dolorum laborum sequi, quibusdam nesciunt quisquam.
              </p> -->
        </div>
        <video class="video-grid" src="../../../assets/img/Bodybuilder-58984.mp4" controls  preload> 
        </video> 
            
       </section>
    </mat-card-content>
</mat-card>
